* {
    box-sizing: border-box;
    margin:0 
    padding 0;

}
.navbar{ 
    background-color: #eee;
}
.navbar-brand{
    color: hotpink; 
    background-color:honeydew;

}
h1 {
    color: hotpink; 
    background-color:honeydew;
}

.container { 
    margin: 150px auto;
    width: 50%;
    padding: 8px;
}
img{
    float: left;
    width: 100%;
    padding: 0 10px 0 0;
}
.text{
    text-align: right;
}